---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Inovasi terkuat sejagat raya, bisa memusnahkan seluruh mahluk jahanam.

Inovasi terkuat ini tidak hanya memusnahkan mahluk jahanam, tapi sampai bisa memusnahkan [raja iblis](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaLQMA6ODdlorDXMZ87mo5rVTHklR-9_38xQ&s) dan [sadboy tingkat dewa](https://i.scdn.co/image/ab67616d0000b2737e638435b9596886d5a02f9d)
`;
---

<Layout title="This is Natriplast.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Natriplast: dij iwjal deo</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
<div class="flex gap-4 mt-8">
<a href="https://social.mtdv.me/watch?v=natriplast-essay" class="btn btn-lg">Download Essay Natriplast</a>
<a href="https://social.mtdv.me/watch?v=natriplast-essay" class="btn btn-lg">Download Aplikasi Natriplast</a>
</div>
</Layout>
